.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: relative;
  z-index: 10;
}

.custom-logo-image {
  height: 50px;
}

.custom-menu-icon {
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.custom-nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.custom-nav-links.open {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.custom-nav-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.custom-nav-item a:hover {
  color: #61dafb;
}

@media (max-width: 768px) {
  .custom-nav-links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }

  .custom-nav-links.open {
    display: flex;
  }
}