.projects {
  padding: 60px 20px;
  text-align: center;
  background-color: #282c34; /* Fondo para mayor contraste */
}

.projects h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #ffffff;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.project-item {
  background: #333; /* Fondo oscuro para resaltar el texto blanco */
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.project-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.project-link {
  text-decoration: none;
  color: inherit;
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-info {
  padding: 20px;
  color: white;
}

.project-info h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.project-info p {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .projects h2 {
    font-size: 2rem;
  }

  .project-info h3 {
    font-size: 1.25rem;
  }

  .project-info p {
    font-size: 0.9rem;
  }
}